.navbar{
    text-decoration: none;
    background-color: #b3a2c9;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-left{
    text-align: left;
    width: 50%;
    ul{
        padding-left: 20px;
        li .navigate{
            text-transform: uppercase;
            color: #511657;
            font-size: 30px;
            font-weight: 700;
        }
    }
}

.navbar .navbar-right{
    width: 50%;
    text-align: right;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li{
    margin-right: 50px;
    border-style: none;
}

.navbar li .navigate{
    color: #524747;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none !important;
}

.navbar li .navigate:hover{
    color: #850d6b;
}

h1{
    font-size: 30px;
    margin-bottom: 0;
}